body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.logo {
  width: 200px;
  margin: 10px auto;
  display: block;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 10px 0;
  background-color: #222;
  background: #000;
}

.hero {
  position: relative;
  padding: 40px;
}

.hero-text {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.deadpool-img {
  width: 300px;
  margin-top: 20px;
}


.btn-red {
  background-color: red;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-dark {
  background-color: black;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}
button:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }

button.clicado {
      background-color: #00b894; /* muda pra verde */
    }


