body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.logo {
      width: 150px;
      border-radius: 15px auto;
      display: block;
    }

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 10px 0;
  background-color: #222;
  background: #000;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
  padding: 15px 0;
  background: #000;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  padding: 40px;
}

.hero-text {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.deadpool-img {
  width: 300px;
  margin-top: 20px;
}
.Estilista {
      margin-top: 30px;
    }

.btn-red {
  background-color: red;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-dark {
  background-color: black;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}
button:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }

button.clicado {
      background-color: #00b894; /* muda pra verde */
    }


.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.btn-voltar:hover {
    opacity: 0.8;
}
