body {
  margin: 0;
  font-family: comfortaa;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.logo {
      width: 150px;
      border-radius: 15px auto;
      display: block;
    }

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
  padding: 15px 0;
  background-color: #222;
  background: #000;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
  padding: 15px 0;
  background: #000;
  font-size: 20px;
  font-weight: 600;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: clamp(18px, 3vw, 32px);
  font-weight: bold;
  padding: 10px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  padding: 40px;
}

.hero-text {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
.Estilista {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: center;
      gap: 20px;
    }
.lucas-img{
  width:600px;
  max-width: 90%;
  height:auto;
  display: block;
}


.btn-red {
  background-color: red;
  border: none;
  padding: 16px 36px;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  margin-right: 10px;
  gap:20px;
  font-size:20px;
}

.btn-dark {
  background-color: black;
  border: 1px solid white;
  padding: 16px 36px;
  color: white;
  font-weight: bold;
  border-radius:30px;
  font-size: 20px;
  gap:20px;
  cursor: pointer;
}
button:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }

button.clicado {
      background-color: #00b894; /* muda pra verde */
    }


.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    background: red;
    color: white;
    padding: 20px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
.btn-voltar:hover {
    opacity: 0.8;
}
